{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="row">
      {% if servers %}
        {% for srv in servers %}
          <div class="server-chose three columns">
            <a href="/dashboard/{{ srv }}" target="_blank" class="row">
              <div class="four columns icon">
                <i class="fa fa-desktop"></i>
              </div>
              <div class="eight columns info">
                <p>{{ servers[srv]['host'] }}</p>
                <p> {{ srv }} </p>
              </div>
            </a>
          </div>
          {% if loop.index % 4 == 0 %}
      </div>
      <br/>
      <div class="row">
          {% endif %}
        {% endfor %}
      {% else %}
      <p>Please create servers file....</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
