{% extends "layout.html" %}
{% block body %}
  {% include 'blocks/main.html' %}
  {% include 'js.html' %}
{% endblock %}

{% block jshead %}
<script>
  window.server = '{{ server }}';
</script>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/static/node_modules/mustache/mustache.min.js"></script>
<script src="/static/node_modules/highcharts/highcharts.js"></script>
<script src="/static/node_modules/highcharts/highcharts-more.js"></script>
<script src="/static/node_modules/highcharts/modules/solid-gauge.js"></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
{% endblock %}
