<div class="box-head">
  <h5>CPU and Memory</h5>
</div>
<div class="box-content">
  <table class="u-full-width" id="server-stats">
    <tbody>
      <tr>
        <td colspan="4" data-val="cpu_percent">
          <div class="color-bar">
            <div class="bar"></div>
            <div class="percentage"></div>
            <div class="title">CPU usage <span class="val"></span></div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="4" data-val="ram">
          <div class="color-bar">
            <div class="bar"></div>
            <div class="percentage"></div>
            <div class="title">RAM usage <span class="val"></span></div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="4" data-val="swap">
          <div class="color-bar">
            <div class="bar"></div>
            <div class="percentage"></div>
            <div class="title">SWAP usage <span class="val"></span></div>
          </div>
        </td>
      </tr>
      <tr><th colspan="4" style="text-align: center;">CPU times</th></tr>
      <tr class="cpu-times">
        <th>User</th>
        <td data-val="user">N/A</td>
        <th>System</th>
        <td data-val="system">N/A</td>
      </tr>
      <tr class="cpu-times">
        <th>Idle</th>
        <td data-val="idle">N/A</td>
        <th>I/O</th>
        <td data-val="iowait">N/A</td>
      </tr>
      <tr class="cpu-times">
        <th>Hard. int</th>
        <td data-val="irq">N/A</td>
        <th>Soft. inf.</th>
        <td data-val="softirq">N/A</td>
      </tr>
    </tbody>
  </table>
</div>
