<div class="box-head">
  <h5>Network interfaces, Discs and space</h5>
</div>
<div class="box-content" id="disks-and-space">
  <div id="platform-interfaces">
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Netmask></th>
          <th>Broadcast</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div style="display: none">
      {% raw %}
      <script type="text/template" data-tpl="row">
        <tr>
          <td>{{ name }}</td>
          <td>{{ address }}</td>
          <td>{{ netmask }}</td>
          <td>{{ broadcast }}</td>
        </tr>
      </script>
      {% endraw %}
    </div>
  </div>
  <hr/>
  <div class="disks container" style="margin: 0 2%;">
    
  </div>
  <hr/>
  <div class="space container" style="margin: 0 2%;">
      <div class="row">
        <div class="one column"><i class="fa fa-floppy-o"></i></div>
        <div class="three columns">/</div>
        <div class="three columns" data-val="percentage_root" title="Used percentage">0</div>
        <div class="five columns" data-val="kb_root" title="Used kB">0</div>
      </div>
      <div class="row">
        <div class="one column"><i class="fa fa-floppy-o"></i></div>
        <div class="three columns">/home</div>
        <div class="three columns" data-val="percentage_home" title="Used percentage">0</div>
        <div class="five columns" data-val="kb_home" title="Used kB">0</div>
      </div>
  </div>
  
  <div style="display: none">
    {% raw %}
    <script type="text-template" data-tpl="disks">
      <div class="row">
        <div class="one column"><i class="fa fa-floppy-o"></i></div>
        <div class="four columns">{{ fstype }}</div>
        <div class="seven columns">{{ mountpoint }}</div>
      </div>
      <div class="row">{{ device }}</div>
    </script>
    {% endraw %}
  </div>
</div>
