<div class="box-head">
  <h5>Server Information</h5>
</div>
<div class="box-content">
  <table class="u-full-width" id="platform-info">
    <tbody>
      <tr>
        <th>Network Name</th>
        <td data-val="network_name">N/A</td>
      </tr>
      <tr>
        <th>System</th>
        <td data-val="system">N/A</td>
      </tr>
      <tr>
        <th>System Release</th>
        <td data-val="system_release">N/A</td>
      </tr>
      <tr>
        <th>System Version</th>
        <td data-val="system_version">N/A</td>
      </tr>
      <tr>
        <th>Processor</th>
        <td data-val="processor">N/A</td>
      </tr>
      <tr>
        <th>Type</th>
        <td data-val="machine_type">N/A</td>
      </tr>
      <tr>
        <th>Boot Time</th>
        <td data-val="boottime_formated">N/A</td>
      </tr>
    </tbody>
  </table>
  
  <div class="row">
    <table class="u-full-width" id="network-io_counters">
      <tr>
        <th>Packets sent</th>
        <td data-nval="packets_sent">N/A</td>
        <th>Packets recieved</th>
        <td data-nval="packets_recv">N/A</td>
      </tr>
      <tr>
        <th>Bytes sent</th>
        <td data-nval="bytes_sent">N/A</td>
        <th>Bytes recieved</th>
        <td data-nval="bytes_recv">N/A</td>
      </tr>
    </table>
  </div>
</div>
